<div class="istore-autocomplete__wrapper" [class.istore-autocomplete__wrapper_invalid]="isFieldInvalid">
  <div #dropref class="istore-autocomplete__filter">
    <istore-input-field
      [borders]="false"
      class="istore-autocomplete__input-field"
      (click)="showDropdown()"
      [errorMessage]="errorMessage"
      [isFieldInvalid]="isFieldInvalid"
      [label]="label"
    >
      <input #input (focus)="setFocus()" [formControl]="inputField" [placeholder]="placeholder" type="text" />
    </istore-input-field>
    <div *ngIf="inputField.value && !loading" class="istore-autocomplete__reset-filter" (click)="resetFilter()"></div>
    <div *ngIf="loading" class="istore-autocomplete__reset-filter">O</div>
  </div>

  <div *ngIf="selectedItems.length" class="istore-autocomplete__items">
    <div *ngFor="let option of selectedItems; let i = index" class="istore-autocomplete__item">
      <img *ngIf="option.icon" alt="" [src]="option.icon.id | mediaurl" />
      <span>{{ option.label }}</span>
      <button (click)="removeItem(i)">Remove</button>
    </div>
  </div>
</div>

<istore-dropdown [reference]="dropref" [offset]="dropdownOffset" (loadMore)="loadMore.emit($event)">
  <istore-option
    *ngFor="let option of filteredItems$ | async; trackBy: trackOption"
    [icon]="option.icon"
    [label]="option.label"
    [value]="option.value"
  ></istore-option>
</istore-dropdown>
