$bg-color: rgba(220, 220, 220, 0.5);
$border-color: #dcdcdc;
$button-color: #cdcdcd;
$invalid-color: #e54317;
$separator-color: rgba(170, 170, 170, 0.2);

istore-autocomplete {
  display: block;
  position: relative;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.istore-autocomplete {
  &__wrapper {
    border: 1px solid;
    border-color: $border-color;
    border-radius: 4px;

    &_invalid {
      border-color: $invalid-color;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input-field {
    flex: 1;
    margin-right: 3px;
    z-index: 1;
  }

  &__reset-filter {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    background: $button-color;
    opacity: 0.5;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    text-transform: lowercase;

    &:hover {
      opacity: 1;
    }
  }

  &__items {
    max-height: 172px;
    border-top: 1px solid $border-color;
    overflow: scroll;
    background-color: $bg-color;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 34px;
    padding-left: 7px;
    font-size: 12px;
    font-family: inherit;

    &:not(:last-child)::before {
      position: absolute;
      bottom: -0.5px;
      width: calc(100% - 34px);
      margin-left: 27px;
      border-bottom: 1px solid $separator-color;
      content: "";
    }

    img {
      width: 22px;
      height: 22px;
      border-radius: 3px;
    }

    span {
      width: 100%;
      margin-left: 6px;
    }

    button {
      margin: 0;
      border: none;
      padding: 0 6px;
      outline: none;
      background: none;
      color: $invalid-color;
      cursor: pointer;
      font-weight: 200;
    }
  }
}
