<istore-viewport [showSidenav]="showSidenav$ | async">
  <div viewportSidenav>
    <ul class="istore-account__navbar-list">
      <li
        *ngFor="let accountItem of accountNavList"
        class="istore-account__navbar-list-item"
        routerLink="{{ accountItem.path }}"
        routerLinkActive="istore-account__navbar-list-item_active"
      >{{ accountItem.title }}</li>
    </ul>
    <p class="istore-account__navbar-list-title">allowed content</p>
    <ul class="istore-account__navbar-list">
      <li
        *ngFor="let content of allowedContent"
        class="istore-account__navbar-list-item"
        (click)="getContent(content.path)"
      >{{ content.title }}</li>
    </ul>
  </div>
  <div viewportContent>
    <router-outlet></router-outlet>
  </div>
</istore-viewport>
<div class="istore-account__close-button" (click)="closeAccount()"></div>
