:host {
  display: block;
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 10px auto 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

.istore-account {
  &__navbar {
    &-list-item {
      display: flex;
      align-items: center;
      height: 32px;
      border-radius: 6px;
      padding: 4px 12px;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &_active {
        background-color: #cdcdcd;
      }
    }

    &-list-title {
      font-weight: 800;
      text-transform: capitalize;
    }
  }

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 22px;
    height: 22px;
    background: #cdcdcd;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    text-transform: lowercase;

    &:hover {
      opacity: 1;
    }
  }
}
