$border-color: #dcdcdc;
$label-bg-color: #fff;
$label-color: #cdcdcd;

istore-box {
  display: block;
  position: relative;

  &:not(:first-child) {
    margin-top: 12px;
  }
}

.istore-box {
  &__label {
    position: absolute;
    top: -7px;
    left: 10px;
    padding: 0 2px;

    background-color: $label-bg-color;
    color: $label-color;
    font-size: 12px;
  }

  &__wrapper {
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: 6px;
    overflow: hidden;

    [boxContent] {
      font-size: 14px;

      li {
        margin-top: 6px;
        cursor: pointer;
      }
    }
  }

  [imageBox] &__wrapper {
    padding: 0;

    [addImage=true] {
      cursor: pointer;
    }

    [boxImage] {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  [imageList] &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    border: none;
    padding: 0;

    [addImage] {
      margin: 0;
      border: none;
      outline: none;

      background-image: url('/assets/product-placeholder.jpg');
      background-position: center;
      background-size: cover;

      &:hover {
        background-size: contain;
      }
    }

    [addImage],
    [boxImage] {
      border-radius: 4px;
      flex: 0 1 83px;

      display: block;
      width: 100%;
      max-height: 83px;
      height: 83px;
      object-fit: cover;
      overflow: hidden;
      cursor: pointer;
    }

    [boxImage] {
      position: relative;

      [removeImage] {
        display: none;
      }

      img {
        width: 83px;
        height: 83px;
        object-fit: cover;
      }

      &:hover [removeImage] {
        display: block;
      }
    }

    [removeImage] {
      position: absolute;
      top: 3px;
      right: 3px;

      width: 16px;
      height: 16px;
      margin: 0;
      border-radius: 50%;
      border: none;
      padding: 0;
      box-shadow: 0 0 20px 0px;
      cursor: pointer;
    }
  }
}
