istore-viewport,
[viewportCart],
[viewportContent],
[viewportSidenav] {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

[viewportContent] > *:not(router-outlet) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px 12px 0;
}

.istore-viewport {
  &__cart,
  &__content,
  &__sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: left 0.5s, right 0.5s;
  }

  &__cart {
    right: -300px;
    width: 300px;
  }

  &__content {
    left: 0;
    right: 0;
  }

  &__sidenav {
    left: -200px;
    max-width: 200px;
    width: 100%;
    padding: 12px 0 12px 12px;
  }

  &_show-cart &__cart {
    right: 0;
  }

  &_show-sidenav &__content {
    left: 200px;
  }

  &_show-sidenav &__sidenav {
    left: 0;
  }
}
