<div *ngIf="showSidenav !== null"  class="istore-viewport__sidenav">
  <ng-content select="[viewportSidenav]"></ng-content>
</div>
<div class="istore-viewport__content">
  <ng-content select="[viewportContent]"></ng-content>
</div>
<div *ngIf="showCart !== null" class="istore-viewport__cart">
  <ng-content select="[viewportCart]"></ng-content>
</div>
