<istore-tabs>
  <istore-tab routerLink="list" routerLinkActive="istore-tab_active">List</istore-tab>
  <istore-tab routerLink="editor{{ productId }}" routerLinkActive="istore-tab_active">Editor</istore-tab>
</istore-tabs>
<istore-switcher>
  <router-outlet></router-outlet>
</istore-switcher>
