<form editorSectionedForm *ngIf="initForm$ | async" [formGroup]="productForm">
  <section>
    <!-- <istore-box *ngIf="categoryForm.value.defaultImage" label="Cetagory icon">
      <img boxImage [src]="getMediaUrl(categoryForm.value.defaultImage)" />
    </istore-box>
    <istore-button>
      <button (click)="mediaUploader.click()">{{ 'Upload media' }}</button>
    </istore-button>
    <input #mediaUploader multiple style="display: none;"
      accept="image/jpg, image/jpeg, image/png, video/mp4, video/mov, video/quicktime"
      (change)="onFileChange($event)"
      type="file"
    /> -->
  </section>
  <section>
    <istore-input-field
      [errorMessage]="getControlError(productForm.controls.title.errors, 'Title')"
      [isFieldInvalid]="productForm.controls.title.invalid"
      label="Title"
    >
      <input formControlName="title" placeholder="Title" type="text"/>
    </istore-input-field>
    <istore-input-field
      [errorMessage]="getControlError(productForm.controls.sku.errors, 'SKU')"
      [isFieldInvalid]="productForm.controls.sku.invalid"
      label="SKU"
    >
      <input formControlName="sku" placeholder="SKU" type="text"/>
    </istore-input-field>
    <istore-input-field
      [errorMessage]="getControlError(productForm.controls.slug.errors, 'Slug')"
      [isFieldInvalid]="productForm.controls.slug.invalid"
      label="Slug"
    >
      <span urlPrefix>http://hibrooch.ru/catalog/category/</span>
      <input formControlName="slug" placeholder="slug" type="text"/>
    </istore-input-field>
    <istore-input-field
      [errorMessage]="getControlError(productForm.controls.description.errors)"
      [isFieldInvalid]="productForm.controls.description.invalid"
      label="Description"
    >
      <input formControlName="description" placeholder="Description" type="text"/>
    </istore-input-field>
    <istore-checkbox label="Active status">
      <input checkbox formControlName="active" type="checkbox"/>
    </istore-checkbox>
    <istore-input-field
      [errorMessage]="getControlError(productForm.controls.quantity.errors)"
      [isFieldInvalid]="productForm.controls.quantity.invalid"
      label="Quantity"
    >
      <input formControlName="quantity" placeholder="Quantity" type="text"/>
    </istore-input-field>
    <istore-button>
      <button (click)="saveProduct()">{{ productForm.controls.id.value ? 'Update' : 'Create' }}</button>
    </istore-button>
  </section>
</form>
