<istore-list>
  <istore-list-item listHeader>
    <span listHeaderIcon></span>
    <span>Title</span>
    <span>SKU</span>
    <span>Quantity</span>
    <span>Active</span>
    <span listHeaderAction></span>
    <span listHeaderAction></span>
  </istore-list-item>

  <istore-list-item *ngFor="let product of productList$ | async; let i = index; trackBy: trackProducts">
    <img alt=""/>
    <span>{{ product.title }}</span>
    <span>{{ product.sku }}</span>
    <span>{{ product.quantity }}</span>
    <span>{{ product.active ? 'Active' : 'Inactive' }}</span>
    <button *ngIf="product.id" (click)="openEditor(product.id, i)">Edit</button>
    <button *ngIf="product.id" (click)="removeProduct(product.id, i)" warningColor>Remove</button>
  </istore-list-item>

  <istore-list-item listEmpty>
    <span>No available products</span>
  </istore-list-item>
</istore-list>
