istore-switcher {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &:not(:first-child) {
    margin-top: 12px;
  }

  & > *:not(router-outlet) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
