<div class="istore-header__nav">
  <p (click)="switchSidenav()">Menu</p>
  <p *ngFor="let page of pages" (click)="navigateTo(page.path)">{{ page.title }}</p>
</div>
<div class="istore-header__user">
  <ng-container *ngIf="currentUser$ | async as user; else auth">
    <p *ngIf="isAdmin" (click)="navigateTo(adminPath.path)">{{ adminPath.title }}</p>
    <p (click)="navigateTo(accountPath.path)">
      {{ (user.firstName ? user.firstName : user.phoneNumber) | uppercase }}
    </p>
    <p (click)="logout()">Logout</p>
  </ng-container>
</div>

<ng-template #auth>
  <p (click)="navigateTo(authPath.path)">{{ authPath.title }}</p>
</ng-template>
