:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 60px;
  background-color: rgb(220, 220, 220);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.istore-header {
  &__nav,
  &__user {
    display: flex;
    align-items: center;
    margin: 0 20px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

    p {
      border-radius: 4px;
      padding: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
