<istore-viewport [showSidenav]="showSidenav$ | async" [showCart]="showCart$ | async">
  <div viewportSidenav [formGroup]="searchForm">
    <istore-input-field>
      <input #searchField formControlName="search" placeholder="Search">
    </istore-input-field>
    <istore-box label="Available brands">
      <ul boxContent>
        <li>Brand 1</li>
        <li>Brand 2</li>
        <li>Brand 3</li>
      </ul>
    </istore-box>
    <istore-box label="Available categories">
      <ul boxContent>
        <li>Category 1</li>
        <li>Category 2</li>
        <li>Category 3</li>
      </ul>
    </istore-box>
  </div>
  <div viewportContent>
    <div>
      <istore-list>
        <istore-list-item listHeader>
          <span listHeaderIcon></span>
          <span>Brand</span>
          <span>Title</span>
          <span>SKU</span>
          <span>Quantity</span>
          <span>Active</span>
        </istore-list-item>

        <istore-list-item *ngFor="let product of getProductList$ | async; let i = index; trackBy: trackProducts">
          <img alt=""/>
          <span>{{ product.brand }}</span>
          <span>{{ product.title }}</span>
          <span>{{ product.sku }}</span>
          <span>{{ product.quantity }}</span>
          <span>{{ product.active ? 'Active' : 'Inactive' }}</span>
        </istore-list-item>

        <istore-list-item listEmpty>
          <span>No available products</span>
        </istore-list-item>
      </istore-list>
    </div>
  </div>
  <div viewportCart [style.background-color]="'#cdcdcd'">
    cart
  </div>
</istore-viewport>
