<istore-viewport [showSidenav]="showSidenav$ | async">
  <div viewportSidenav>
    <ul class="istore-admin__navbar-list">
      <li
        *ngFor="let adminItem of adminNavList"
        class="istore-admin__navbar-list-item"
        routerLink="{{ adminItem.path }}"
        routerLinkActive="istore-admin__navbar-list-item_active"
      >{{ adminItem.title }}</li>
    </ul>
  </div>
  <div viewportContent>
    <router-outlet></router-outlet>
  </div>
</istore-viewport>
<div class="istore-admin__close-button" (click)="closeAdmin()"></div>
