$active-bg-color: #168eff;
$active-color: #fff;
$disabled-bg-color: #fff;
$disabled-color: #93a1aa;
$label-color: #7a7a7a;

:host {
  display: flex;
  height: fit-content;
  padding: 10px 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  font-size: 12px;

  &:focus,
  &:hover,
  &.istore-option__selected,
  &.active {
    outline: none;
    background-color: $active-bg-color;
    color: $active-color;
  }

  &.disabled {
    color: $disabled-color;
    cursor: auto;

    &:hover,
    &:focus {
      background-color: $disabled-bg-color;
      outline: none;

      @media screen and (-ms-high-contrast: active) {
        background-color: $disabled-bg-color;
      }
    }
  }
}

.istore-option {
  &__action {
    padding-left: 10px;
    color: $label-color;
  }

  &__image {
    position: relative;
    width: 24px;
    margin-right: 8px;

    &-vector {
      position: absolute;
      width: 14px;
      height: 14px;
    }

    &-rastr {
      position: absolute;
      top: -5px;
      width: 22px;
      height: 22px;
      margin: 1px;
      border-radius: 3px;
    }
  }
}
