<div *ngIf="icon" class="istore-option__image">
  <img alt="" class="istore-option__image-rastr" [src]="icon.id | mediaurl" />
</div>
<span>{{ label }}</span>
<div *ngIf="action" class="istore-option__action" (click)="actionClick($event)">{{ action.title }}</div>
