$border-color: #dcdcdc;
$invalid-color: #e54317;
$label-bg-color: #fff;
$label-color: #cdcdcd;
$cursor-hider-color: #fff;

istore-digits-field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.istore-digits-field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 34px;

  &_invalid &__label {
    color: $invalid-color;
  }

  &_invalid &__frame {
    border: 1px solid $invalid-color;
  }

  &__label {
    position: absolute;
    bottom: 40px;
    padding: 0 2px;

    background-color: $label-bg-color;
    color: $label-color;
    line-height: 1.35;
    font-size: 12px;
    text-align: center;
  }

  &__frame {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid $border-color;
  }

  &::after {
    position: absolute;
    width: 22px;
    height: 34px;
    right: -24px;
    z-index: 1;

    background-color: $cursor-hider-color;
    content: "";
  }

  input {
    position: absolute;
    left: 0;

    border: none;
    padding-left: 12px;
    padding-right: 0;
    height: 34px;
    z-index: 1;

    background: transparent;
    font-size: 20px;
    font-variant-numeric: tabular-nums;
    letter-spacing: 31px;
    outline: none;

    &::selection {
      background-color: transparent;
    }
  }
}
