<div class="istore-digits-field" [style.width.px]="(digits.length - 1) * 44 + 34">
  <div
    *ngFor="let digit of digits; let i = index"
    class="istore-digits-field__frame"
    [class.istore-digits-field__frame_invalid]="isFieldInvalid"
    [style.left.px]="i * 44"
  ></div>
  <ng-content select="input"></ng-content>
</div>
<label
  *ngIf="label || isFieldInvalid"
  class="istore-digits-field__label"
  [innerHTML]="isFieldInvalid ? errorMessage : label"
></label>
