istore-checkbox {
  display: block;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.istore-checkbox {
  &__label {
    width: 100%;
    margin-left: 4px;
    outline: none;
    pointer-events: none;
    user-select: none;

    font-size: 14px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    padding: 0 6px;
    overflow: hidden;

    input[checkbox] {
      height: 100%;
      border: none;
      outline: none;
    }

    input:-webkit-autofill {
      background: none;
    }
  }
}
