$separator-color: #aaa;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 2px;
  outline: none;
  user-select: none;

  cursor: pointer;

  &:not(:last-child) {
    margin-right: 8px;

    &::after {
      content: "";
      position: absolute;
      right: -5px;
      border-right: 2px solid $separator-color;
      height: 80%;
    }
  }
}
