$active-bg-color: #fff;
$bg-color: #dcdcdc;

:host {
  display: flex;
  align-items: center;
  position: relative;

  height: 32px ;
  min-height: 32px ;
  border-radius: 6px;
  padding: 3px;

  background-color: $bg-color;

  &:not(:first-child) {
    margin-top: 4px;
  }
}

.istore-tabs__tab-selector {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  border-radius: 4px;
  background-color: $active-bg-color;

  &:not(&_on-resize) {
    transition: left 0.3s ease-in-out;
  }
}
