istore-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2px 6px 2px 2px;

  &[actionable] {
    cursor: pointer;
  }

  &[listEmpty]:not(:nth-child(1)) {
    display: none;
  }

  &[listHeader] {
    position: absolute;
    height: 32px;
    backdrop-filter: blur(4px);
    background-color: rgba(220, 220, 220, 0.6);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    & + div > *:nth-child(1) {
      margin-top: 36px;
    }
  }

  &:not([listHeader]) {
    height: 50px;
    margin-top: 4px;
    border-radius: 6px;

    &:hover {
      background-color: rgba(220, 220, 220, 0.7);
    }

    &:not(:hover) {
      background-color: rgba(220, 220, 220, 0.3);
    }

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 12px;
    }

    &:last-child:not([listEmpty]) {
      margin-top: -8px;
    }
  }

  button,
  img,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    user-select: none;
  }

  button {
    width: 50%;
    margin: 0;
    border: none;
    padding: 0;

    background: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: unset;

    &[warningColor] {
      color: #e54317;
    }
  }

  img {
    min-width: 50px;
    max-height: 46px;
    height: 50px;
    margin-right: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    object-fit: cover;
  }

  > span {
    &[listHeaderAction] {
      width: 50%;
    }

    &[listHeaderField] {
      cursor: pointer;

      > span {
        margin-right: 6px;
      }
    }

    &[listHeaderIcon] {
      min-width: 50px;
      margin-right: 10px;
    }

    &:not([listHeaderAction]):not([listHeaderIcon]) {
      width: 100%;
    }
  }
}
