<ng-content select="istore-list-item[listHeader]"></ng-content>
<div #scrollPort class="istore-list__scroll">
  <ng-content select="istore-list-item"></ng-content>
  <div #anchor class="istore-list__anchor">
    <div class="istore-list__spinner-box" [class.istore-list__spinner-box_loading]="loading">
      <div class="istore-list__spinner"></div>
    </div>
  </div>
</div>
