istore-list {
  display: block;
  position: relative;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;

  &:not(:first-child) {
    margin-top: 12px;
  }
}

.istore-list {
  &__anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 50px;
  }

  &__scroll {
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__spinner-box {
    width: 30px;
    height: 30px;
    transform: scale(0);
    transition: transform 1s ease-out;

    &_loading {
      transform: scale(1);
    }
  }

  &__spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
