<istore-toolbar (addAction)="openEditor()" [config]="toolbarConfig"></istore-toolbar>
<istore-list (loadMore)="loadMore($event)" [loading]="loading$ | async">
  <istore-list-item listHeader>
    <span listHeaderIcon></span>
    <span listHeaderField *ngFor="let field of listFields" (click)="orderBy(field)">
      <span [style.visibility]="field.id === searchData.orderBy ? 'visible' : 'hidden'">
        {{ field.arrow[searchData.direction] }}
      </span>
      {{ field.label }}
    </span>
    <span listHeaderAction></span>
  </istore-list-item>

  <istore-list-item actionable
    *ngFor="let category of categoryList$ | async; let i = index; trackBy: trackCategories"
    (click)="openEditor(category.id)"
  >
    <img alt="" [src]="category.defaultImage | mediaurl" />
    <span>{{ category.title }}</span>
    <span>{{ category.description }}</span>
    <span>{{ category.slug }}</span>
    <span>{{ category.active ? 'Active' : 'Inactive' }}</span>
    <span>{{ category.updatedAt | dailystatus }}</span>
    <button *ngIf="category.id" (click)="removeCategory(category.id, i)" warningColor>Remove</button>
  </istore-list-item>

  <istore-list-item listEmpty>
    <span>No available categories</span>
  </istore-list-item>
</istore-list>
