<form editorSectionedForm *ngIf="initForm$ | async" [formGroup]="categoryForm">
  <!-- Images -->
  <section>
    <istore-box imageBox>
      <img [attr.addImage]="!mediaList.length" boxImage
        (click)="!mediaList.length && mediaUploader.click()"
        [src]="categoryForm.value.defaultImage | mediaurl"
      />
    </istore-box>
    <istore-box imageList *ngIf="mediaList.length">
      <div boxImage *ngFor="let file of mediaList; let i = index">
        <img alt="" [src]="file.path | mediaurl" (click)="setDefault(file)" />
        <button removeImage (click)="removeImage(file, i)"></button>
      </div>
      <button addImage (click)="mediaUploader.click()"></button>
    </istore-box>
    <input #mediaUploader multiple style="display: none;"
      accept="image/jpg, image/jpeg, image/png, video/mp4, video/mov, video/quicktime"
      (change)="onFileChange($event)"
      type="file"
    />
  </section>

  <!-- Fields -->
  <section>
    <istore-input-field
      [errorMessage]="getControlError(categoryForm.controls.title.errors, 'Title')"
      [isFieldInvalid]="categoryForm.controls.title.invalid"
      label="Title"
    >
      <input formControlName="title" placeholder="Title" type="text"/>
    </istore-input-field>
    <istore-input-field
      [errorMessage]="getControlError(categoryForm.controls.slug.errors, 'Slug')"
      [isFieldInvalid]="categoryForm.controls.slug.invalid"
      label="Slug"
    >
      <span urlPrefix>http://hibrooch.ru/catalog/</span>
      <input formControlName="slug" placeholder="slug" type="text"/>
    </istore-input-field>
    <istore-input-field
      [errorMessage]="getControlError(categoryForm.controls.description.errors)"
      [isFieldInvalid]="categoryForm.controls.description.invalid"
      label="Description"
    >
      <input formControlName="description" placeholder="Description" type="text"/>
    </istore-input-field>
    <istore-checkbox label="Active status">
      <input checkbox formControlName="active" type="checkbox"/>
    </istore-checkbox>
    <istore-button>
      <button (click)="saveCategory()">{{ categoryForm.controls.id.value ? 'Update' : 'Create' }}</button>
    </istore-button>
  </section>
</form>
