$bg-color: rgba(255, 255, 255, 0.5);
$border-color: #dcdcdc;
$invalid-color: #ff3c30;
$placeholder-color: #7a7a7a;

istore-select {
  display: block;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.istore-select {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 34px;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: 0 6px;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;

    background: $bg-color;
    cursor: pointer;
  }

  &__content {

  }

  &__label {

  }

  &__text {
    height: 19px;
    margin-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.33;

    &_placeholder {
      color: $placeholder-color;
    }
  }

  &__disabled {
    cursor: default;
  }

  &__disabled &__dropdown-arrow,
  &__disabled &__label,
  &__disabled &__text {
    color: $placeholder-color;
  }

  &__invalid {
    border: 1px solid $invalid-color;
    transition: border 500ms;
  }

  &__invalid &__label,
  &__invalid &__text {
    color: $invalid-color;
    transition: color 500ms;
    transform-origin: left top;
    white-space: nowrap;

    font-size: 14px;
    font-weight: 500;
    line-height: 1;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__dropdown-arrow {
    width: 10px;
    height: 10px;
    transition: transform 0.2s ease-in-out;

    &_opened {
      transform: rotate(-180deg);
    }
  }
}
