<div #dropref
  class="istore-select__wrapper"
  [class.istore-select__disabled]="disabled"
  [class.istore-select__invalid]="isFieldInvalid"
  [class.istore-select__required]="required"
  (click)="showDropdown()"
>
  <div class="istore-select__content">
    <span class="istore-select__text" [class.istore-select__text_placeholder]="!displayText">
      {{ displayText ? displayText : placeholder }}
    </span>
  </div>
  <div class="istore-select__spacer"></div>
  <svg *ngIf="!hideArrow" class="istore-select__dropdown-arrow" [class.istore-select__dropdown-arrow_opened]="isOpened">
    <use xlink:href="assets/arrow.svg#arrow"></use>
  </svg>
</div>

<istore-dropdown [reference]="dropref" (showing)="isShowing($event)">
  <ng-content select="istore-option"></ng-content>
</istore-dropdown>
