<ng-container *ngIf="(validateForm$ && fillUserInfo$) | async"></ng-container>
<form class="istore-settings__user-info" [formGroup]="settingsForm">
  <istore-input-field label="First name">
    <input formControlName="firstName" placeholder="First name" type="text"/>
  </istore-input-field>
  <istore-input-field label="Last name">
    <input formControlName="lastName" placeholder="Last name" type="text"/>
  </istore-input-field>
  <istore-input-field
    [errorMessage]="getControlError(settingsForm.controls.email.errors)"
    [isFieldInvalid]="settingsForm.controls.email.invalid"
    label="E-mail"
  >
    <input formControlName="email" placeholder="E-mail" type="text"/>
  </istore-input-field>
  <istore-input-field label="Password">
    <input formControlName="password" placeholder="Password" type="password"/>
  </istore-input-field>
  <istore-select label="user list">
    <istore-option *ngFor="let user of userList" (click)="fillFields(user)" [label]="user.firstName"></istore-option>
  </istore-select>
  <istore-button>
    <button (click)="updateUserInfo()">Update</button>
  </istore-button>
</form>
