:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    width: 200px;
  }
}

.istore-settings {
  &__user-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
