<istore-header></istore-header>
<div class="istore-root__content" [@appAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<!-- <istore-footer></istore-footer> -->
