<form class="istore-auth__signup-form" [formGroup]="signForm">
  <ng-container *ngIf="isPhoneForm$ | async; else confirmationCode">
    <ng-container *ngIf="formatPhoneNumber$ | async"></ng-container>
    <istore-input-field
      [errorMessage]="getControlError(signForm.controls.phoneNumber.errors)"
      [isFieldInvalid]="signForm.controls.phoneNumber.invalid"
      label="Phone number"
    >
      <input formControlName="phoneNumber" placeholder="Enter phone number" type="text"/>
    </istore-input-field>
    <istore-select label="user list" [selected]="userList[0]">
      <istore-option *ngFor="let user of userList" (click)="fillFields(user)" [label]="user.firstName"></istore-option>
    </istore-select>
    <istore-button>
      <button (click)="getCode()">Get code</button>
    </istore-button>
  </ng-container>
</form>

<ng-template #confirmationCode [formGroup]="signForm">
  <ng-container *ngIf="checkCode$ | async"></ng-container>
  <istore-digits-field
    [errorMessage]="getControlError(signForm.controls.confirmationCode.errors)"
    [isFieldInvalid]="signForm.controls.confirmationCode.invalid"
    [label]="confirmationCodeLabel()"
    [maxDigits]="codeLength"
  >
    <input formControlName="confirmationCode" [maxlength]="codeLength" type="text"/>
  </istore-digits-field>
</ng-template>
