:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    width: 200px;
  }
}

.istore-auth {
  &__signup-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__message {
    margin-top: 20px;
  }
}
