$border-color: #dcdcdc;
$invalid-color: #e54317;
$label-bg-color: #fff;
$label-color: #cdcdcd;

istore-input-field {
  display: block;
  position: relative;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.istore-input-field {
  &_invalid &__label {
    color: $invalid-color;
  }

  &_invalid &__wrapper_borders {
    border: 1px solid $invalid-color;
  }

  &__label {
    position: absolute;
    top: -7px;
    left: 10px;
    padding: 0 2px;

    background-color: $label-bg-color;
    color: $label-color;
    font-size: 12px;

    &_shift {
      top: -8px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;

    &_borders {
      height: 34px;
      border: 1px solid $border-color;
    }

    &:not(&_borders) {
      height: 32px;
    }

    input,
    span[urlPrefix] {
      padding-left: 6px;
      font-size: 14px;
      font-family: inherit;
    }

    span[urlPrefix] {
      margin-bottom: -1px;
      margin-right: -6px;
      white-space: nowrap;

      color: $label-color;

      + input {
        flex: 1;
      }
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }

    input:-webkit-autofill {
      background: none;
    }
  }
}
