<div class="istore-input-field__wrapper" [class.istore-input-field__wrapper_borders]="borders">
  <ng-content select="input"></ng-content>
  <ng-content select="span[urlPrefix]"></ng-content>
</div>
<label
  *ngIf="label || isFieldInvalid"
  class="istore-input-field__label"
  [class.istore-input-field__label_shift]="!borders"
>
  {{ isFieldInvalid && errorMessage ? errorMessage : label }}
</label>
