<div *ngIf="config as toolbar" class="istore-toolbar__form" [formGroup]="toolbarForm">
  <section class="istore-toolbar__form-filters">
    <div>
      <istore-select formControlName="searchFilter" label="filter">
        <istore-option
          *ngFor="let filter of toolbar.searchFilters; let i = index"
          [label]="filter.label"
          [value]="i"
        ></istore-option>
      </istore-select>
    </div>

    <div>
      <istore-select formControlName="filterCondition" label="condition">
        <istore-option
          *ngFor="let condition of searchFilterConditions; let i = index"
          [label]="condition.label"
          [value]="i"
        ></istore-option>
      </istore-select>
    </div>

    <div *ngIf="isOptionsFilter">
      <istore-select formControlName="option" label="option">
        <istore-option
          *ngFor="let option of searchFilterOptions; let i = index"
          [label]="option.label"
          [value]="i"
        ></istore-option>
      </istore-select>
    </div>

    <div *ngIf="isDateFilter">
      <istore-input-field>
        <input formControlName="date" placeholder="Date" type="date"/>
      </istore-input-field>
    </div>

    <div *ngIf="isDateFilter && isBetweenDates">
      <istore-input-field>
        <input formControlName="dateSecond" placeholder="Date" type="date"/>
      </istore-input-field>
    </div>

    <div *ngIf="isStringFilter">
      <istore-input-field>
        <input formControlName="searchRequest" placeholder="Search" type="text"/>
      </istore-input-field>
    </div>

    <div>
      <istore-button (click)="applyFilter()">
        <button>Apply</button>
      </istore-button>
    </div>
    <div>
      <istore-button *ngIf="((filters$ | async)  ?? []).length" (click)="resetFilters()">
        <button>Reset</button>
      </istore-button>
    </div>
  </section>

  <section *ngIf="counter$ | async as counter" class="istore-toolbar__form-counter">
    {{ counter.count }} of {{ counter.total }}
  </section>

  <section class="istore-toolbar__form-action">
    <istore-button *ngIf="config.addButton" (click)="createByHand()">
      <button>Add new</button>
    </istore-button>
  </section>
</div>
<div *ngIf="((filters$ | async) ?? []).length" class="istore-toolbar__active-filters">
  <div *ngFor="let prop of filters$ | async" class="istore-toolbar__active-filter">
    {{ getFilterDescribtion(prop.name, prop.filter) }}
    <button class="istore-toolbar__remove-filter" (click)="removeFilter(prop.name, prop.filter)"></button>
  </div>
</div>
