:host {
  display: block;

  &:not(:first-child) {
    margin-top: 12px;
  }
}

.istore-toolbar {
  &__active-filters,
  &__form {
    display: flex;
    align-items: center;
    background-color: #dcdcdc;

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:not(:first-child) {
      margin-top: 2px;
    }
  }

  &__form {
    justify-content: space-between;
    padding: 3px;
  }

  &__form-filters {
    display: flex;
    align-items: center;

    > div:not(:first-child) {
      margin-left: 2px;
    }
  }

  &__form-action {
    width: 80px;
  }

  &__active-filters {
    flex-wrap: wrap;
    padding: 3px 3px 0;
  }

  &__active-filter {
    flex: 0 1 auto;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 3px;
    margin-right: 4px;
    border-radius: 15px;
    padding: 9px 32px 9px 9px;
    background-color: #aaaa;
    font-size: 12px;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &__remove-filter {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    background: #cdcdcd;
    opacity: 0.5;
    cursor: pointer;
    text-align: center;
    text-transform: lowercase;
    outline: none;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
      opacity: 1;
    }
  }
}
