$backdrop-filter: blur(10px);
$bg-color: rgba(220, 220, 220, 0.5);

.istore-dropdown__container {
  position: relative;
  display: block;
  width: 100%;
  min-width: fit-content;
  max-height: 195px;
  border-radius: 4px;
  overflow: auto;

  -webkit-backdrop-filter: $backdrop-filter;
  backdrop-filter: $backdrop-filter;
  background-color: $bg-color;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}
