body {
  margin: 0;
  font-family: Gulim;
}

ul {
  margin: unset;
  padding: unset;
}

li::marker {
  content: "";
}

form {
  margin: 0 auto;

  &[editorForm] {
    width: 350px;
  }

  &[editorSectionedForm] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    section {
      flex: 1 1 350px;
      max-width: 350px;
      width: 350px;
      margin: 6px;
    }
  }
}

* {
  box-sizing: border-box;
}

.cdk-overlay {
  &-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &-connected-position-bounding-box {
    position: absolute;
    width: inherit !important;
    height: inherit !important;
  }
}
