$bg-color: rgba(120, 120, 120, 0.3);
$border-color: #dcdcdc;

istore-button {
  display: block;
  width: 100%;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.istore-button {
  height: 34px;

  border-radius: 4px;
  border: 1px solid $border-color;
  overflow: hidden;
  cursor: pointer;

  button {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    padding: 0 6px;
    outline: none;

    background: $bg-color;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;

    &:hover {
      opacity: 0.8;
    }
  }
}
