<ng-container *ngIf="formatPhoneNumber$ | async"></ng-container>
<form class="istore-auth__signup-form" [formGroup]="signForm">
  <istore-input-field
    [errorMessage]="getControlError(signForm.controls.phoneNumber.errors, 'Phone number')"
    [isFieldInvalid]="signForm.controls.phoneNumber.invalid"
    label="Phone number"
  >
    <input formControlName="phoneNumber" placeholder="Enter phone number" type="text"/>
  </istore-input-field>
  <istore-input-field
    [errorMessage]="getControlError(signForm.controls.password.errors, 'Password')"
    [isFieldInvalid]="signForm.controls.password.invalid"
    label="Password"
  >
    <input formControlName="password" placeholder="Enter password" type="password"/>
  </istore-input-field>
  <istore-select label="user list" [selected]="userList[0]">
    <istore-option
      *ngFor="let user of userList"
      (click)="fillFields(user)"
      [label]="user.firstName"
      [value]="user"
    ></istore-option>
  </istore-select>
  <istore-button>
    <button (click)="signIn()">Sign in</button>
  </istore-button>
</form>
